/*custom properties*/
:root{
    --primario: #3d3d3d;
    --secundario: #172e64;
    --tercero: #6592fe;
    --cuarto: #36c3fe;
    --quinto: #8c61ff;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::before, *::after{
     box-sizing: inherit;
}

/*globales*/
body{
    font-size: 1.8rem;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

.contenedor{
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

h1,h2,h3{
    text-align: center;
    color: var(--secundario);

}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3.2rem;
}

h3{
    font-size: 2.4rem;
}

.mb{
    margin-bottom: 4rem;
}

/*header*/

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header  a:visited{
    color: var(--secundario);
 }

 .header a:hover{
    color: var(--primario);
 }


.header li{
    display: inline;
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: 1px solid var(--secundario);
}



/*about me*/
.about-me{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--quinto);
    padding: 3rem;
    color: white;
    
}

.about-me h2{
    color: white;
}

.about-me_img{
    width: 25%;
}

.about-me_info{
    width: 60%;
}

/*my projects*/

.my-projects{
    display: flex;
    flex-direction:row;
    gap: 8rem;
    text-align: center;
}

