/*custom properties*/
:root{
    --primario: #3d3d3d;
    --secundario: #172e64;
    --tercero: #6592fe;
    --cuarto: #36c3fe;
    --quinto: #8c61ff;

}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::before, *::after{
     box-sizing: inherit;
}

/*globales*/
body{
    font-size: 1.8rem;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

.contenedor{
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

h1,h2,h3{
    text-align: center;
    color: var(--secundario);

}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3.6rem;
}

h3{
    font-size: 2.4rem;
}

ul{
    margin-top: 0;
    padding-left: 0;
}

.mb{
    margin-bottom: 12rem;
}

.section_tittle h2{
    color: var(--primario);
}

/*header*/
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .header{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}



.header  a:visited{
    color: var(--secundario);
 }

 .header a:hover{
    color: var(--primario);
 }


.header li{
    display: block;
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .header li{
        display: inline;
        margin-left: 1rem;
        padding-left: 1rem;
        border-left: 1px solid var(--secundario); 
    }
     
}


/*about me*/
.about-me{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--quinto);
    padding: 3rem;
    color: white;
    
}

.about-me h2{
    color: white;
}

.about-me_img{
    width: 25%;
    min-width: 14rem;
}

.about-me_info{
    width: 60%;
    min-width: 28rem;
    padding: 0 2rem;
}

/*my projects*/

.my-projects{
    display: flex;
    flex-direction: column;
    gap: 8rem;
    text-align:center;
}

.my-projects img{
    width: 80%;
}

@media (min-width: 768px) {
    .my-projects{
        flex-direction:row;
    }

    .my-projects img{
        width: 100%;
    }
}

/*skills*/

.my-skills{
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 60%;
    margin: 0 auto;
}

@media (min-width: 480px) {
    .my-skills{
        flex-direction: row;
        justify-content:space-around;
        align-items: baseline;
        gap: 8rem;
        
    }
}



/*footer*/
footer{
    background-color: var(--primario);
    color: white;
    padding: 1rem;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

@media (min-width: 768px) {
    .footer{
        flex-direction: row;
        justify-content: space-between;
     align-items: center;
    }
}

.footer .social-media{
    text-align: center;
    margin-bottom: 2rem;
}


.footer i{
    font-size: 4rem;
    margin-right: 2rem;
}

.footer li{
    color: white;
    display: block;
 
}

@media (min-width: 768px) {
    .footer li{
        display: inline;
        margin-left: 1rem;
        padding-left: 1rem;
        border-left: 1px solid white;
    }
}

.footer a:visited, .footer h3{
    color: white;
}

.footer a:hover{
    color: var(--cuarto);
}


footer .copyright{
    margin: 0 auto;
    text-align: center;
}

/*contact*/
.contact{
    background-color: var(--quinto);
    display: flex;
    flex-direction: column;
    color: white;
    margin: 0 auto;
    border-radius: 3rem;
    font-size: 2rem;
    padding: 2rem;
}

@media (min-width: 768px) {
    .contact{
        width: 60%;
        padding: 3rem;
    }
}

.form{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    justify-content: center;
}


.form input, .form .field_input--textarea{
    border-radius: 1rem;
    border-style: none;
    width: 100%;
    font-size: 1.6rem;
}

.form input{
    height: 4rem;
}

.form .field_input--textarea{
    height: 12rem;
    width: 100%;
}

.form .field .button{
    background-color: white;
    width: 10rem;
    height: 5rem;
    color: var(--primario);
    font-weight: bold;
}

.form .field .button:hover{
    background-color: var(--secundario);
    color: white;
    cursor: pointer;
    transition: all .3s;
}
