/*custom properties*/
:root{
    --primario: #3d3d3d;
    --secundario: #172e64;
    --tercero: #6592fe;
    --cuarto: #36c3fe;
    --quinto: #8c61ff;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::before, *::after{
     box-sizing: inherit;
}

/*globales*/
body{
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

